.button-custom {
  border: 0;
  outline: 0;
  border-radius: 0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-align: center;
  background-color: var(--cor-azul-opaco);
  color: white;
}

.button-custom-azul {
  background-color: var(--cor-azul);
  color: white;
}