.button-custom {
  border: 0;
  outline: 0;
  border-radius: 0;
  padding: 0.3rem 5rem;
  background-color: var(--cor-azul-opaco);
  color: white;
}

.button-custom-azul {
  background-color: var(--cor-azul);
  color: white;
}